.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: auto;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.result {
  font-size: 20px;
  margin-bottom: 10px;
  height: 45px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

.btn {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
